<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">{{ isEditing ? "Edit" : "Create" }} Employee</h2>
        </div>
        <div class="card-body">
          @if (errorMessage !== '') {
          <div class="alert alert-danger">{{ errorMessage }}</div>
          }
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstName">First Name*</label>
              <input
                #firstName="ngModel"
                type="text"
                id="firstName"
                name="firstName"
                [(ngModel)]="employee.firstName"
                class="form-control"
                required
              />
              @if (firstName.invalid && (firstName.dirty || firstName.touched))
              { @if (firstName.errors?.["required"]) {
              <div class="text-danger">First Name Is Required</div>
              } }
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                #lastName="ngModel"
                type="text"
                id="lastName"
                name="lastName"
                [(ngModel)]="employee.lastName"
                class="form-control"
                required
              />
              @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
              @if (lastName.errors?.["required"]) {
              <div class="text-danger">Last Name Is Required</div>
              } }
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input
                #phoneNumber="ngModel"
                type="tel"
                id="phoneNumber"
                name="phoneNumber"
                [(ngModel)]="employee.phoneNumber"
                class="form-control"
                required
              />
              @if (phoneNumber.invalid && (phoneNumber.dirty ||
              phoneNumber.touched)) { @if (phoneNumber.errors?.["required"]) {
              <div class="text-danger">Phone Number Is Required</div>
              } }
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                #email="ngModel"
                type="email"
                id="email"
                name="email"
                [(ngModel)]="employee.email"
                class="form-control"
                required
              />
              @if (email.invalid && (email.dirty || email.touched)) { @if
              (email.errors?.["required"]) {
              <div class="text-danger">Email Is Required</div>
              } @if (email.errors?.["email"]) {
              <div class="text-danger">Email Is Invalid</div>
              } }
            </div>
            <div class="form-group">
              <label for="position">Position</label>
              <input
                #position="ngModel"
                type="text"
                id="position"
                name="position"
                [(ngModel)]="employee.position"
                class="form-control"
                required
              />
              @if (position.invalid && (position.dirty || position.touched)) {
              @if (position.errors?.["required"]) {
              <div class="text-danger">Position Is Required</div>
              } }
            </div>
            <button type="submit" class="btn btn-primary mt-3">
              {{ isEditing ? "Update" : "Create" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
